$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

*{
  font-family: 'Roboto Condensed', sans-serif;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {

}

body,html{
  height:100%;
}

#mainMap{
  width: 100%;
  height: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

$common-raduis:4px;
$main-blue:#3b5998;
$main-light-gray:#8b9dc3;

$main-darkblue: #3b5998;

$spacegrey: #afb5be;
$darkblue: #4C6585;
$lightblue: #86ACCE;
$lightblue2: #ebeff2;
$lightgray2: #c9cfd4;
$almostwhite: #ecf5ff;
$red: #EE8783;
$unactive-red: #d0c5bf;
$green: #6bcba1;
$unactive-green: #c9d7d2;


$ui-bg:rgb(77,97,129);
$ui-header-bg: rgb(57, 71, 94);

.clickable{
  cursor: pointer;
}
.v-resize-cursor{
  cursor: ew-resize;
}
.v-min-resize-cursor{
  cursor: e-resize;
}
.v-max-resize-cursor{
  cursor: w-resize;
}

.ui-window{
  border-radius: $common-raduis;
  position: absolute;
  z-index: 10;
  overflow: hidden;
  width: 300px;

  &.opened{
    margin-top:-34px;
  }

  .ui-header{
    color: $almostwhite;
    height:0px;
    line-height:25px;
    background-color: $ui-header-bg;
    cursor: pointer;
    padding: 0px 12px;
    overflow: hidden;
    vertical-align: middle;
    text-transform: uppercase;

    &.opened{
      height:34px;
//      line-height:34px;
      padding: 6px 12px;
    }
  }
  .ui-content{
    height: 150px;
    svg{

      background-color: rgba($ui-bg,0.9);

      rect{
        &.center{
          fill: $red;
          &.unactive {
//            fill: $unactive-red;
            opacity: 0.4;
          }
        }
        &.country{
          fill: $green;
          &.unactive {
//            fill: $unactive-green;
            opacity: 0.4;
          }
        }

      }
    }
  }
  .ui-slider-mid{
//    background-color: rgba(white,0.3);
    opacity:0;
    height:100%;
    position: absolute;
  }
  .ui-slider{
    border-left: rgba($lightblue2,1) dotted 1px;
    border-right: rgba($lightblue2,1) dotted 1px;
    background-color: rgba($lightblue2,0.2);
    width:2px;
    margin-left: -1px;
    height:100%;
    position: absolute;
    opacity:0.7;
    pointer-events: none;
    &.animated{
      pointer-events: all !important;
      @include transition(width, 0.2s, ease-out);
      @include transition(margin-left, 0.2s, ease-out);
    }
    &.opened{
     width:12px;
      margin-left: -6px;
    }
  }

  .ui-wrapper{

  }

}
#ui-window-wrapper{
  position: absolute;
  z-index: 10;
  width: 300px;
  opacity:0;
}

.ui-total-text{
  position:absolute;
  text-align:center;
  color: $ui-bg;
  opacity:0;
  display: inline-block;
  vertical-align: middle;
  top:175px;
  &.opened{
    opacity:1;
    top: 165px;
  }
}

.ui-second-text{
    position:absolute;
    text-align:center;
    opacity:0;
    width:100%;
    z-index: 999;

    &.opened{
      opacity:1;
    }

  &.country{
    color:$green;
    top:10px;
  }
  &.center{
    color:$red;
    top:120px;
  }
}

.ui-date-text{
  position:absolute;
  z-index: 999;
  top: 160px;
  width: 200px;
  padding: 4px;
  color: $ui-bg;
  opacity: 0;

  &.opened{
    opacity:1;
  }
}
.ui-min-date-text {
  text-align: right;
}

.ui-max-date-text{
  text-align: left;
}

.opacity-animation{
  @include transition(opacity, 0.6s, ease-out);
}
.opacity-on{
  opacity: 1;
}
.opacity-off{
  opacity: 0;
}





.ui-header-open-animation{

  @include transition(padding, 0.2s, ease-out);
  @include transition(height, 0.2s, ease-out);
  @include transition(margin-top, 0.2s, ease-out);

}

*{

    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    outline: 0;

}




@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}
